<app-header></app-header>
<div *ngIf="mobileView; then mobile else desktop"></div>
<ng-template #mobile>
  <div class="recruitment full-page dark-blue dark mob-padding-bottom" fxLayout="column" fxLayoutAlign="space-evenly center">
    <div fxLayout="column" class="padding md">
      <h2 class="hero">Employees </h2>
    </div>
  </div>
  <div class="top-padding mustard bottom-padding sm" fxLayout="column" fxLayoutAlign="space-evenly center">
    <div fxLayout="column" class="padding sm">  
      <h2 class="hero thin-rule">Refer a friend Scheme </h2>
      <div class="" fxLayout="column" fxLayoutGap="16px" fxFlex="80%">
        <p>Know someone who can join our fantastic team. Refer a friend to us and receive a thankful bonus for each successful referral (Terms and condition apply). 
        </p>
  
        <div fxLayout="column" fxLayoutGap="16px">
          <div><img src="assets/images/hiring.jpg" alt="Join our team"></div>
          <div>     
            <h3 class=" thin-rule long">Who can be referred?</h3>
            <p>We have two conditions for candidates who can qualify you for our rewards. They should:</p>
            <ul>
              <li fxLayout="row"><i class="icon yes"></i>Have not applied to our company for at least a year.</li>
              <li fxLayout="row"><i class="icon yes"></i>Be hired as permanent full- or part-time employees (not as temporary employees or contractors.)</li>
            </ul>       
    
          </div>
        </div>
        <div fxLayout="column" fxLayoutGap="16px" fxLayoutAlign="centre center">
          <div>
            <p>
            Our company may use an online form or a platform where employees may refer candidates. You can also reach out directly to us with referrals.
            </p>
            <p>
            Generally, we encourage you to check our open positions and consider your social networks and external networks as potential resources for referred candidates.
            </p>
            <p>
            Keep in mind that rewards may be subject to taxation. Please contact us for more information.
            </p>
        </div>
          <div>
            <p>
              We may change our referral bonus program over time to add more interesting incentives. We also reserve the right to abolish certain rewards if they prove ineffective or inefficient. We’ll communicate any change clearly and timely. Employees who referred candidates before a reward was abolished will still receive the appropriate reward.
            </p>
          </div>
        </div>
          <div fxLayout="column" fxLayoutGap="16px" fxLayoutAlign="centre center">
            <img src="assets/images/team.jpeg" alt="Meet our employees">
            <p>
              We’d like to remind our employees that we are an equal opportunity employer and do not discriminate against protected characteristics. Our referred candidates may take precedence in the hiring process. We guarantee that all candidates will be given the same consideration and will pass through our established procedures.
            </p>
          </div>

      </div>
    </div>
  </div>
</ng-template>
<ng-template #desktop>
  <div class="recruitment banner full-page dark-blue dark mob-padding-bottom" fxLayout="column" fxLayoutAlign="space-evenly center">
    <div fxLayout="column" class="padding md">
      <h2 class="hero">Employees </h2>
    </div>
  </div>
  <div class="top-padding mustard bottom-padding lg" fxLayout="column" fxLayoutAlign="space-evenly center">
    <div fxLayout="column">
      <div fxLayout="column" class="padding md">
        <h2 class="thin-rule">Refer a friend Scheme </h2>
        <div fxLayout="column" fxLayoutGap="16px" fxFlex="80%">
          <p>Know someone who can join our fantastic team. Refer a friend to us and receive a thankful bonus for each successful referral (Terms and condition apply). 
          </p>
        </div>
      </div>
      <div class="padding md bottom-padding" fxLayout="row" fxLayoutGap="16px">
        <div fxFlex="50%"><img src="assets/images/hiring.jpg" alt="Join our team"></div>
        <div fxFlex="50%" class="padding sm">     
          <h3 class=" thin-rule long">Who can be referred?</h3>
          <p>We have two conditions for candidates who can qualify you for our rewards. They should:</p>
          <ul class="bottom-padding">
            <li fxLayout="row"><i class="icon yes"></i>Have not applied to our company for at least a year.</li>
            <li fxLayout="row"><i class="icon yes"></i>Be hired as permanent full- or part-time employees (not as temporary employees or contractors.)</li>
          </ul>       
        <div>
          <p>
          Our company may use an online form or a platform where employees may refer candidates. You can also reach out directly to us with referrals.
          </p>
          <p>
          Generally, we encourage you to check our open positions and consider your social networks and external networks as potential resources for referred candidates.
          </p>
          <p>
          Keep in mind that rewards may be subject to taxation. Please contact us for more information.
          </p>
      </div>      
        </div>
      </div>
      <div class=" grey dark" fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="centre center">

      <div class="top-padding bottom-padding">
        <p class="hero padding lg">
          We may change our referral bonus program over time to add more interesting incentives. We also reserve the right to abolish certain rewards if they prove ineffective or inefficient. We’ll communicate any change clearly and timely. Employees who referred candidates before a reward was abolished will still receive the appropriate reward.
        </p>
      </div>
      </div>
      <div class="rtl padding md top-padding bottom-padding" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="16px">
        <img fxFlex="50%" src="assets/images/team.jpeg" alt="Meet our employees">
        <div class="display">
          <p class="ltr">
            We’d like to remind our employees that we are an equal opportunity employer and do not discriminate against protected characteristics. Our referred candidates may take precedence in the hiring process. We guarantee that all candidates will be given the same consideration and will pass through our established procedures.
          </p> 
        </div>
        
      </div>
      <div class="padding md">
        <h2> Important documents</h2>
        <div fxLayout="column" fxLayoutGap="12px" fxLayoutAlign="start stretch">

          <a fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="20px" class="secondary btn" target="_blank" href="assets/docs/sh_timesheet.pdf"> <span>Superior Healthcare Timesheet</span><i class="icon download">Download</i></a>
          <a fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="20px" class="secondary btn" target="_blank" href="assets/docs/sh_medical-questionaire (F).pdf"> <span>Superior Healthcare Questionaire</span><i class="icon download">Download</i></a>
          <a fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="20px" class="secondary btn" target="_blank" href="assets/docs/sh_registration-form (F).pdf"> <span>Superior Healthcare Registration form</span><i class="icon download">Download</i></a>
        </div>
      </div>            
    </div>
  </div>
</ng-template>
<app-footer></app-footer>