<app-header></app-header>
<div class="terms half-page dark-blue dark mob-padding-bottom banner" fxLayout="column" fxLayoutAlign="space-evenly center">
    <div fxLayout="column" class="padding md">
        <h2 class="hero">Terms and Conditions </h2>
    </div>
</div>
<div class="terms mustard  mob-padding-bottom" fxLayout="column" fxLayoutAlign="space-evenly center">
    <div fxLayout="column" class="padding md top-padding bottom-padding">
        <p>This website is provided by Superior Healthcare. If you do not agree to abide by the terms and conditions, you should not use this website or download or use materials from Superior Healthcare website. 
            The following terms and conditions apply solely to your access to and use of this website, and do not change any other agreement you may have with Superior Healthcare.</p>
        <ol class="top-padding bottom-padding">
            <li fxLayout="row"><i class="icon ">1. </i>Superior Healthcare has the right, in its sole discretion, to add, remove, alter or otherwise change any part of these terms and conditions at any time.</li>
            <li fxLayout="row"><i class="icon ">2. </i>Superior Healthcare may terminate, change, suspend or discontinue any aspect of this website.</li>
            <li fxLayout="row"><i class="icon ">3. </i>Superior Healthcare website may be used only for lawful purposes by individuals seeking employment and career information.</li>
            <li fxLayout="row"><i class="icon ">4. </i>You are responsible for maintaining the confidentiality of your registration information and password. You shall be responsible for all uses of your registration.</li>
            <li fxLayout="row"><i class="icon ">5. </i>Superior Healthcare is not responsible for the contents of any such linked page or any other page not under its control.</li>
            <li fxLayout="row"><i class="icon ">6. </i>The terms and conditions are correct at the time of access.</li>
            <li fxLayout="row"><i class="icon ">7. </i>Prospective staff are required to bring in their original passport, proof of address any further information requested at the time of the application.</li>
            <li fxLayout="row"><i class="icon ">8. </i>You acknowledge that any use of or reliance on this website or any materials shall be at your sole risk. This website acts as a venue, post job opportunities and candidates to post CVs.</li>
        </ol>
        <p>You agree to defend, indemnify and hold harmless each of Superior Healthcare, its affiliates, and each of their officers, directors, employees and agents.</p>
    </div>
</div>
<app-footer></app-footer>

